/* Colors and fonts */

body {
    background: white;
    color: #6E8898;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: lighter;
}

h1 {
    font-family: 'Lato', sans-serif;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    color: #2E5266;
}

a {
    font-family: 'monserrat', sans-serif;
    color: #9FB1BC;
    text-decoration: none;
    font-weight: 600px;
    font-size: 16;
}

a:hover {
    color: #2E5266;
}

/* custom design */

.container {
    width: 700px;
    margin: 40px auto;
}

.first-block {
    background-color: #9FB1BC;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 40px;
    border-radius: 5px;
    margin: 20px 0px;
}

.img-circle {
    border-radius: 500px;
}

.container-2 {
    background-color: #9FB1BC;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 40px;
    border-radius: 5px;
    margin: 20px 0px;
}
.web-btn {
 background-color: #E2C044;
 color: #2E5266;
 padding: 8px 8px;
 border-radius: 50px;
 font-size: 16px;
}

